body{
    background: rgb(160, 228, 241);
    margin-left:  200px;
    margin-right: 200px;
}
header{
    margin-top: 70px;
}
h1{
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
}
.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}
.logo{
    width: 30px;
}
footer{
    margin-bottom: 30px;
}